div.command {
  background: linear-gradient(
    136.61deg,
    rgb(49, 49, 54) 13.72%,
    rgb(43, 43, 50) 74.3%
  );
  color: rgb(214, 214, 214);
  caret-color: rgb(110, 94, 210);
  margin: 0 auto;
  font-family: 'Inter';
  border-radius: 8px;
}

input.input {
  font-size: 18px;
  height: 61px;
  border-bottom-color: rgb(60, 60, 64);
}

input.input::placeholder {
  color: #81808d;
}

li.item {
  font-size: 14px;
  border-left: 2px solid transparent;
  color: rgb(214, 214, 214);
}

li.itemActive {
  background: rgb(55, 55, 60);
  border-left-color: rgb(94, 106, 210);
}

li.label {
  height: 22px;
  background: rgba(247, 247, 248, 0.03);
  font-size: 12px;
  color: rgb(129, 128, 142);
  margin: 1px 0;
}

span.icon svg {
  width: 18px;
  height: 18px;
}

span.keybind kbd {
  color: rgb(215, 216, 219);
  font-size: 11px;
  background: rgb(80, 80, 84);
  border-radius: 3px;
  padding: 4px 3px 4px 4px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  height: unset;
  width: unset;
  line-height: 110%;
  min-width: 20px;
}

div.noResults {
  background: #900;
}

li.divider {
  background: rgb(60, 60, 64);
}

