.reset {
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: color var(--transition);
}

.gray {
  color: var(--gray);
}

.gray:hover,
.underline:hover {
  color: var(--fg);
}

.underline {
  background-image: repeating-linear-gradient(
    to right,
    var(--gray),
    var(--gray)
  );
  background-size: 1.2ch 1px;
  background-position: left bottom;
  background-repeat: repeat-x;
  padding-bottom: 2px;
}
