.container {
  max-width: var(--main-content);
  margin: 0 auto;
  margin-top: var(--big-gap);
  padding: 0 var(--gap);
}

.group + .group {
  margin-top: calc(5 * var(--gap));
}

.posts {
  display: flex;
  justify-content: space-between;
}

.post {
  flex: 1 0 50%;
  max-width: 50%;
  color: var(--gray);
  border-radius: var(--radius);
  padding: var(--gap);
  margin-left: calc(-1 * var(--gap));
  transition: color var(--transition), background-color var(--transition);
}

.post.active,
.post:hover {
  color: var(--fg);
  background: var(--lighter-gray);
}

.month {
  display: block;
  margin-bottom: var(--gap);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--gray);
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: var(--gap);
}

.description {
  line-height: 1.7;
}

.button {
  margin-top: var(--small-gap);
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--gray);
  font-weight: 500;
  background: var(--lighter-gray);
  border: none;
  padding: var(--gap-half) var(--gap);
  transition: background-color var(--transition), color var(--transition);
  outline: none;
}

.button:hover,
.button:focus {
  color: var(--fg);
}

.button:active {
  background-color: var(--lightest-gray);
}

@media (max-width: 600px) {
  .posts {
    flex-direction: column;
  }
  .post {
    margin-left: 0;
    flex-basis: 100%;
    max-width: unset;
  }
}
