.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  --overlay: rgba(0, 0, 0, 0.6);
  background: var(--overlay);
  --padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.screen.show {
  opacity: 1;
}

:global(html[data-theme="light"]) .screen {
  --overlay: rgba(0, 0, 0, 0.3);
}

.dialog-content {
  display: contents;
}

.command {
  position: relative;
  margin: 0 auto;
  z-index: 9999;
  border-radius: 10px;
  overflow: hidden;
  top: calc(30px + var(--big-gap) + (3 * var(--gap-double)));
  background: var(--bg);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.4), 0px 0px 60px rgba(0, 0, 0, 0.5),
    inset 0px 1px 0px rgba(0, 0, 0, 0.6);
  width: 700px;

  opacity: 0;
  transform: scale(0.97);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.command.show {
  opacity: 1;
  transform: none;
}

:global(html[data-theme="light"]) .command {
  box-shadow: 0px 5px 10px rgba(154, 160, 185, 0.05),
    0px 15px 40px rgba(166, 173, 201, 0.09),
    0px 20px 60px rgba(166, 173, 201, 0.1);
}

.command [data-command-list] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.command [data-command-input] {
  padding: 0;
  outline: none;
  height: 60px;
  width: 100%;
  border: 0;
  background: 0;
  font-size: 1rem;
  color: var(--fg);
}

.command [data-command-input]::placeholder {
  color: var(--gray);
}

.command [data-command-list] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.command [data-command-item] {
  padding: 0 var(--gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  height: var(--height);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--gray);
  min-height: 60px;
}

.command [data-command-item] > div {
  display: flex;
  align-items: center;
}

.command [data-command-item] kbd {
  user-select: none;
  padding: 0;
  font-weight: normal;
  font-size: 0.875rem;
  background: var(--lighter-gray);
  color: var(--gray);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon {
  margin-right: var(--gap);
  display: flex;
}

.command [data-command-item][aria-selected] {
  background: var(--lightest-gray);
  color: var(--fg);
}

.top {
  display: flex;
  align-items: center;
  padding: var(--padding);
}

.back {
  background: none;
  color: #fff;
}

.label {
  display: flex;
  align-items: center;
  min-height: 5px;
  color: var(--gray);
  padding: var(--padding);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.875rem;
  background: var(--lighter-gray);
}

.container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: height 0.1s ease;
  will-change: height;
}

.container {
  border-top: 1px solid var(--lighter-gray);
}

.container.empty {
  height: 0;
  border-top: none;
}

.group {
  display: flex;
  flex-direction: column;
}

.label {
  order: 0;
}

.group > ul {
  padding: 0;
  order: 1;
}

.group > ul:empty ~ .label {
  display: none;
}

.keybind {
  display: flex;
  align-items: center;
}

.keybind > kbd + kbd {
  margin-left: 5px;
}

@media (max-width: 960px) {
  .command {
    --top: calc(30px + (3 * var(--gap-double)));
    top: var(--top);
  }
}

@media (max-width: 600px) {
  .command {
    top: var(--top);
    height: calc(100vh - var(--top));
    border-radius: 20px 20px 0 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    animation: slide 0.2s ease;
    width: 100%;
    max-height: calc(100vh - var(--top));

    transform: scale(0.97) translateY(5%);
  }

  .container {
    height: 100% !important;
    /* Height of the iOS Safari Toolbar (:sadfari:) */
    padding-bottom: 110px;
  }
}
