.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  --overlay: rgba(0, 0, 0, 0.6);
  background: var(--overlay);
  animation: screen 0.2s ease;
  transition: background-color 0.2s ease;
  will-change: background;
}

.screen.onExiting {
  background: transparent !important;
}

:global(html[data-theme="light"]) .screen {
  --overlay: rgba(0, 0, 0, 0.3);
}

.command {
  background: var(--bg);
  position: relative;
  z-index: 9999;
  margin: 0 auto;
  top: calc(30px + var(--big-gap) + (3 * var(--gap-double)));

  --padding: 0 20px;
  font-family: var(--font-sans);
  max-width: var(--width);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.4), 0px 0px 60px rgba(0, 0, 0, 0.5),
    inset 0px 1px 0px rgba(0, 0, 0, 0.6);

  animation: appear 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  will-change: transform, opacity;
}

.command.onExiting {
  opacity: 0;
  transform: scale(0.98);
}

:global(html[data-theme="light"]) .command {
  box-shadow: 0px 5px 10px rgba(154, 160, 185, 0.05),
    0px 15px 40px rgba(166, 173, 201, 0.09),
    0px 20px 60px rgba(166, 173, 201, 0.1);
}

.command * {
  box-sizing: border-box;
}

.input {
  outline: none;
  height: 60px;
  width: 100%;
  border: 0;
  background: 0;
  font-size: 1rem;
  color: var(--fg);
  padding: var(--padding);
  border-bottom: 1px solid var(--lighter-gray);
}

.noResults input {
  border: 0;
}

.input::placeholder {
  color: var(--gray);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: height 0.1s ease;
  will-change: height;
}

.item {
  display: block;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  padding: var(--padding);
  height: var(--height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
}

.active {
  background: var(--lightest-gray);
  color: var(--fg);
}

.left {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  min-width: 16px;
  margin-right: 24px;
}

.keybind {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.keybind > kbd {
  user-select: none;
  padding: 0;
  font-weight: normal;
  font-size: 0.875rem;
  background: var(--lighter-gray);
  color: var(--gray);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.keybind > kbd + kbd {
  margin-left: 5px;
}

.label {
  display: flex;
  align-items: center;
  min-height: 5px;
  color: var(--gray);
  padding: var(--padding);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.875rem;
  background: var(--lighter-gray);
}

.trigger {
  outline: none;
  display: flex;
}

.hidden {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  appearance: none;
  white-space: nowrap;
  word-wrap: normal;
}

.top {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding: var(--padding);
  padding-top: calc(var(--height) / 4);
  padding-bottom: calc(var(--height) / 4);
  border-bottom: 1px solid var(--lighter-gray);
}

.divider {
  margin: calc(var(--height) * 0.1) 0;
  background: var(--lighter-gray);
  width: 100%;
  height: 1px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes screen {
  from {
    background: transparent;
  }
  to {
    background: var(--overlay);
  }
}

@media (max-width: 960px) {
  .command {
    --top: calc(30px + (3 * var(--gap-double)));
    top: var(--top);
  }
}

@media (max-width: 600px) {
  .command {
    top: var(--top);
    height: calc(100vh - var(--top));
    border-radius: 20px 20px 0 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
    animation: slide 0.2s ease;
    max-height: calc(100vh - var(--top));
  }

  .command.exit {
    transform: translateY(5%);
  }

  .list {
    max-height: calc(100% - var(--height)) !important;
    height: unset !important;
    /* Height of the iOS Safari Toolbar (:sadfari:) */
    padding-bottom: 110px;
  }
}
