@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678910/fonts/Inter-Thin.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678909/fonts/Inter-Thin.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678902/fonts/Inter-ExtraLight.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678905/fonts/Inter-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678905/fonts/Inter-Light.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678911/fonts/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678908/fonts/Inter-Regular.woff") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678906/fonts/Inter-Regular.woff2") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678906/fonts/Inter-Medium.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678905/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678911/fonts/Inter-SemiBold.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678910/fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678902/fonts/Inter-Bold.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678901/fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1553678902/fonts/Inter-ExtraBold.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1553678902/fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1582989421/fonts/Inter-Black.woff2") format("woff2"),
       url("https://assets.zeit.co/raw/upload/v1582989421/fonts/Inter-Black.woff") format("woff");
}

/* -------------------------------------------------------
Variable font.
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url("https://assets.zeit.co/raw/upload/v1582989014/fonts/Inter-roman.var.woff2") format("woff2");
}
