/* Links */
.l-t {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--gray);
  padding: var(--gap-quarter) var(--gap-half);
  border-radius: var(--radius);
  background: transparent;
  text-decoration: none;
  text-transform: capitalize;

  transition: color var(--transition), background-color var(--transition);
}

.l-t + .l-t {
  margin-left: var(--gap-half);
}

.l-t:hover,
.l-t:focus,
.l-t.active {
  outline: none;
  background: var(--color);
  color: #fff;
}

.l-t:hover::before,
.l-t:focus::before,
.l-t.active::before {
  background: #fff;
}

.blue {
  --color: var(--blue);
}

.purple {
  --color: var(--purple);
}

.red {
  --color: var(--red);
}

.pink {
  --color: var(--pink);
}

.teal {
  --color: var(--teal);
}

.green {
  --color: var(--green);
}

.orange {
  --color: var(--orange);
}

.indigo {
  --color: var(--indigo);
}

.blue-gray {
  --color: var(--blue-gray);
}

.invert {
  --color: var(--fg);
}

.invert:hover,
.invert:focus,
.invert.active {
  color: var(--bg);
}
